.content-warpper{
    padding: 70px 0px;
    width: 800px;
    margin: auto
}

.content-warpper .intro-text .title
{
    margin-bottom: 30px
}

.content-warpper .intro-text .description{
    line-height: 28px;
    font-size: 16px;
    color: #757373;
    margin-bottom: 50px
}

.content-warpper .contact-form .title
{
    font-size: 15px;
    margin-bottom: 19px;
}

.content-warpper .contact-form .form_select{
    border: 0px;
    margin-bottom: 25px
}

.content-warpper .contact-form .btn-wraper .btn-red{
    background-color: #ff0000;
    color: #FFF;
    margin-top: 30px;
    text-transform: uppercase;
    font-size: 15px;
    border-radius: 30px
}

